.pokemon-form {
    display: flex;
    gap: 1rem;
    justify-content: center;
    min-width: 100%;
}

@media (max-width: 768px) or (orientation: portrait) {
    .pokemon-form {
        gap: .5rem;
    }
}