.title {
    font-family: 'Silkscreen', sans-serif;
}

.paragraph {
    text-align: justify;
}

.paragraph a {
    color: #000;
    text-decoration: none;
}

.paragraph a:hover {
    text-decoration: underline;
}